// Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Buttons

%btn {
  border: 0;
  border-radius: 5px;
}

// Center alignment

%center-align {
	text-align: center;
}

.centered {
	float: none  !important;
	margin: 0 auto;
}
