header {

}
main {
	.grid {
		.cell{
			.card {
			  text-align: center;
			  border-radius: 6px;
			  background-color: $white;
			  border: solid 2px $grey;
			  padding: 20px;
			  margin-bottom: 24px;
				width: 100%;
				.user {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					.avatar {
					}
				}
			  .reveal-on-modal {
				  display: none;
			  }
				&:hover {
					border: solid 2px $blue;
					box-shadow: 1px 1px 5px $blue;
					transition: all 1s;
					cursor: pointer;
				}

			}
		}
	}
}

@media (min-width: 768px) {
	main {
		.grid {
			.cell{
				.card {
					.user {
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						.avatar {
							width: 40%;
						}
						.user-info {
							text-align: left;
							width: 60%;
							margin-left: 20px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1024px) {

}
