//Typography:
.container {
	font-family: $font-body;
	color: color(primary);
	font-size: $base__font-size;
	line-height: ($base__line/$base__font-size);
	font-weight: 300;
}

h1 {
  margin: 0;
  font-size: em(24px);
	font-weight: 300;
}

h2 {
	font-size: em(20px);
}

h3 {
	font-size: em(18px);
	text-transform: uppercase;
	margin-top: 0;
	font-weight: normal;
}


.user-info {
	word-break: break-word;
	.name {
		text-transform: capitalize;
		font-weight: bold;
		font-size: em(20px);
		line-height: 1.4;
	}
	.email {
		font-size: em(15px);
		line-height: 1.4;
	}
	.city {
		text-transform: capitalize;
		font-size: em(15px);
		line-height: 1.4;
	}
}
